extends layout

block content
  .main_container
    .container
    h1
    a.logo(href='/')
      span SexyHobo
      | Bristling with class!
    .coming_soon
    p.description_text
      | SexyHobo is a content aggregator site. Think Reddit, think Slashdot, but with a hint of style!
    .divider
    p.address
      a(href='#') This site is under development. Please check back later for updates.
    ul.social
      li.fb
      a(href='#')
      li.link
      a(href='#')
      li.tw
      a(href='#')